@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background: #0b0d12;
  color: #e7e9ee;
}

::selection {
  background: #6d5bff55;
}

input, select, textarea {
  background: #0b0d12;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #22262f;
  border-radius: 8px;
}
